@import 'tailwindcss';

:root {
  --primary-color: #448EF3;
  --secondary-color: #3863B2;
  --terciary-color: #182A4C;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}

.work-sans {
  font-family: 'Work Sans', 'roboto', sans-serif;
}

.montserrat {
  font-family: 'Montserrat', 'Arial', sans-serif;
}